:root{
    --font: 'Poppins', sans-serif;
    --aside_width: 250px;
    --aside_transition: 0.3s ease;
}

*, *:is(::before, ::after){
    box-sizing: border-box;
}


body{
    font-family: var(--font);
    font-weight: 300;
    height: 100%;
    margin: 0;
    position: relative;
    display: grid;
}


aside{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: green;
    width: var(--aside_width);
    transition: var(--aside_transition);
}

.right_side{
    position: relative;
    margin-left: var(--aside_width);
    border: 1px solid red;
    height: 100%;
    transition: var(--aside_transition);
}

body.aside_close aside{
    --aside_width: 100px;
}
body.aside_close .right_side{
    margin-left: 100px;
}